<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%include ./common/css.ejs %>
  </head>
  <body>
    <%include ./common/header.ejs %>
    <div class="container">
        <div class="row">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>分类名称</th>
                        <th>录入时间</th>
                        <th>查看</th>
                        <th>更新</th>
                        <th>删除</th>
                    </tr>
                </thead>
                <tbody>
                <% categories.forEach(function(item) { %>
                <tr class="item-id-<%=item._id%>">
                    <td><%=item.name%></td>
                    <td><%=moment(item.meta.updateAt).format('MM/DD/YYYY')%></td>
                    <td>
                        <a href="/movie/<%=item._id%>" target="_blank" class="btn btn-default">查看</a>
                    </td>
                    <td>
                        <a href="/admin/update/<%=item._id%>" target="_blank" class="btn btn-primary">更新</a>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger del" data-id="<%=item._id%>">
                            删除
                        </button>
                    </td>
                </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
    </div>

    <%include ./common/script.ejs %>
    <script>
        $(function() {
            $('.del').click(function() {
                var id = $(this).data('id');
                var tr = $('.item-id-' + id);
                $.ajax({
                    url: '/admin/list',
                    type: 'DELETE',
                    data: {
                      id: id
                    }
                })
                .done(function(data) {
                    if(data.code === 200) {
                        if(tr.length > 0) {
                            tr.remove();
                        }
                    }
                })
            })
        })
    </script>
  </body>
</html>
